---
layout: default
title: category
---

{% assign rawcategories = "" %}
{% for post in site.posts %}
	{% assign tcategories = post.categories | join:'|' | append:'|' %}
	{% assign rawcategories = rawcategories | append:tcategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}


{% assign categories = "" %}
{% for category in rawcategories %}
	{% if category != "" %}
		{% if categories == "" %}
			{% assign categories = category | split:'|' %}
		{% endif %}
		{% unless categories contains category %}
			{% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<br/>

<div class="category">
	<h2>
	{% for category in categories %}
		<a href="#{{ category | slugify }}" class="fa fa-tag"> #{{ category }} </a>&nbsp;&nbsp;
	{% endfor %}
</h2>
</div>

{% for category in categories %}
	<h2 id="{{ category | slugify }}">{{ category }}</h2>
	<ul>
	 {% for post in site.posts %}
		 {% if post.categories contains category %}
		 <div>
		 <time datetime="{{ post.date }}"> {{ post.date | date: "%B %d, %Y" }}</time>
		 <h1 href="{{ post.url }}">{{ post.title }}</h1>
		 <div class="catalogue-line"></div>
	 	</div>
	</br>
	</br>
		 {% endif %}

	 {% endfor %}
	</ul>
{% endfor %}


<!-- <div>
	<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
	<h1 class="catalogue-title">{{ post.title }}</h1>
	<div class="catalogue-line"></div>
</div> -->
