.tag {
  #{$a-tags} {
  	color: $peter-river;
    font-size: 1.5rem;
  	text-decoration: none;
    border-radius: 25px;
    margin: 5px;
  }

  #{$a-tags-hover} {
    font-size: 1.5rem;
  	color: $grey-1;
  }

  &-title {
    color: $midnight-blue;
    display: block;
    font-family: $sans-font;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }
}
